<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702153606455-37a0ra5htanbvsip59h8hn03ck4a21ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702153606455-37a0ra5htanbvsip59h8hn03ck4a21ev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>702153606455-8ac2ocs7hlks0fj6u5ep5559rp9no9ri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwSrnUqpp5ALIESj1uTj9JB2PJigFKR1I</string>
	<key>GCM_SENDER_ID</key>
	<string>702153606455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bep</string>
	<key>PROJECT_ID</key>
	<string>gdsc-377005</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-377005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702153606455:ios:44e65440fe59e61f3206b2</string>
	<key>DATABASE_URL</key>
	<string>https://gdsc-377005-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>